extends layout

block content
  div.items-container.container
    h2.above-parent= title
    for item in items
      div.item-card
        a.parent-size(href = item.url)
        div.item-image-container
          img.item-image(src=item.imageLocation)
        h3.item-name= item.name
        div.price-tag
          h3= `${item.price} €`
          p= `(${item.relativePrice} ${item.relativeUnit})`