extends layout


block content
  -var updating = item ? true : false

  h2= updating? 'Update Item' : "Create Item"
  form(method='POST' action='' enctype="multipart/form-data")
    div
      label(for= "name") Item Name
      input(type="text" name = "name" value = updating ? item.name : '')
    div
      label(for= "description") Description
      input(type="text" name = "description" value = updating ? item.description : '')
    div
      label(for= "price") Price
      input(type="text" name = "price" value = updating ? item.price : '')
    div
      p Category
      each val in categories
        if (updating)
          if (item.category.name == val)
            label(for= "category")= val
            input(type= "radio" name= "category" value =val checked )
          else
            label(for= "category")= val
            input(type= "radio" name= "category" value =val)          
        else
          label(for= "category")= val
          input(type= "radio" name= "category" value =val)
    div
      p Unit
      each val in units
        if (updating)
          if (item.weight.unit == val)
            label(for= "unit")= val
            input(type= "radio" name= "unit" value =val checked)
          else
            label(for= "unit")= val
            input(type= "radio" name= "unit" value =val)          
        else
          label(for= "unit")= val
          input(type= "radio" name= "unit" value =val)
    div
      label(for= "quantity") Quantity
      input(type="text" name = "quantity" value = updating ? item.weight.quantity : '')
    div.image-container
      img.item-image#image-preview(src= updating ? item.imageLocation : '' alt= "Image Preview")
    input#imageInput(type= 'file' name = "image" accept=".png,.jpg")
    button(type="submit") Create New Item
  if err
    each error in err
      p= error.msg
  
  script(src= "./javascripts/imagePreview.js")
